*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;1,100&family=Roboto+Slab:wght@100;200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');

$roboto : 'Roboto Slab', serif;
$montserrat : 'Montserrat', serif;

$red : #c0301c;
$mycolor : #555555;

.title {
    position: relative;
    margin-top: 95px;
    font-family: $montserrat;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    color:$mycolor;
    
    
    &::after {
        content:'';
        position: absolute;
        bottom:-20px;
        width: 50px;
        height: 2px;
        background:#555555;
    }
}


.container {
    max-width: 1140px;
    padding: 10px;
    margin: 0 auto;
    font-family: $roboto;
}


header {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
    min-height: 700px;
    

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(46, 10, 10, 0.5);
        z-index: -1;
    }

    .header {
        margin-top: 40px;
        nav {
            display: flex;
            justify-content: space-between;
            align-items:center;
            .logo {

                h3 {
                    font-family: $montserrat;
                    font-size: 24px;
                    color:#ffff;
                }
            }
            .mobile_menu {
                display: none;
                width: 30px;
                height: 30px;
                cursor: pointer;

                svg {
                    width: 100%;
                    height: 100%;
                    fill: #fff;
                }
            }
            .menu {

                display: flex;
                justify-content: space-between;
                flex-basis: 540px;
                li {
                    list-style-type: none;
                }
                a {
                    font-family: $montserrat;
                    font-weight: 400;
                    color: #fff;
                    text-decoration: none;
                }
            }

            @media screen and (max-width: 768px) {
                .mobile_menu {
                    display: block;
                }
                .menu {
                    display: none;
                }
            }
        }
        .welcome_startup {
            display: flex;
            justify-content: center;
            align-items:center;
            flex-direction: column;
            margin-top: 255px;

            h1 {
                font-family: $montserrat;
                font-size: 48px;
                font-weight: 500;
                color:#ffffff;
            }
            p {
                font-size:20px;
                color:#ffff;
                margin: 20px 0 50px 0;

            }
            button {
                background: transparent;
                padding: 10px 30px;
                font-family:$montserrat;
                font-weight: 500;
                cursor: pointer;
                color: #ffff;
                border: 1px solid #ffff;
                text-transform: uppercase;
                border-radius: 1px;
                transition: .5s;

                &:hover {
                    background: white;
                    color:$red;
                    border:none;
                    font-family: $montserrat;
                    font-weight: 500;
                }
            }
        }
    }
}


main {

    width: 100%;
    .main_services {
        min-height: 580px;
       

        .section_title {
             p {

            font-family: $roboto;
            font-size: 14px;
            font-weight: 400;
            color:$mycolor;
            text-align: center;
            margin-top: 30px;
             }
        }

       

        .services_items {
            display: flex;
            justify-content: space-between;
            flex-flow: row wrap;
            align-items:center;
            margin:65px 0 100px 0;

            
        
            .services {
                flex-basis: 32.5%;
                text-align: center;

                .icon_block {

                    img {

                    }
                }
                h4 {
                    font-family: $montserrat;
                    font-size: 14px;
                    font-weight: bold;
                    color:$mycolor;
                    margin:30px 0;
                }

                p {
                     font-family: $roboto;
                     font-size: 14px;
                     font-weight: 400;
                     color:$mycolor;
                    
                }

                @media screen and (max-width: 768px) {
                    flex-basis: 100%;
                    margin-bottom: 20px;
                }

            }

            @media screen and (max-width: 768px) {
                justify-content: center;
                align-items:center;
            }
            @media screen and (max-width: 320px) {
                justify-content: center;
                align-items:center;
            }

        }

        

    }

    
    .about_us_bg {
        min-height: 850px;
        background:#f8f8f8;
        .about_us{

        .section_title {
              p {

            font-family: $roboto;
            font-size: 14px;
            font-weight: 400;
            color:$mycolor;
            text-align: center;
            margin-top: 30px;
            }
        }

        .about_us_info {
            margin:60px 0;
            display: flex;
            justify-content: space-between;
            flex-flow:row wrap;

            .info_block {
                flex-basis:49%;

                p {
                    font-family: $roboto;
                     font-size: 14px;
                    font-weight: 400;
                    color:$mycolor;
                }
            }
            
            @media screen and (max-width: 768px) {
                .info_block {
                    flex-basis:100%;
                    margin-top: 10px;
                }
             }
        }

        .our_team_block {

            .owl-carousel {


                .reviews_item {
                    position: relative;
                    text-align: center;
                    

                    .user_img {
                        
                        width: 265px;
                        height: 250px;
                        opacity: 1;
                        img {
                            display: block;
                            
                            background-size: cover;
                            background-repeat: no-repeat;
                            width: 100%;
                            height: 100%;
                        }
                    }
                    h3 {
                        font-family: $montserrat;
                        font-size: 14px;
                        font-weight: 400;
                        color:$mycolor;
                        text-align: center;
                        margin:15px 0;
                    }
                    p {
                        font-family: $roboto;
                        font-size: 13px;
                        font-weight: 400;
                        color:$mycolor;
                        text-align: center;
                    }

                    .reviews_item_hover {
                        display: flex;
                        justify-content:center;
                        align-items: flex-end;
                        position: absolute;
                        width: 265px;
                        height: 250px;
                        top: 0;
                        left: 0;
                        opacity: 0;
                        transition: opacity .5s ;
                        text-align: center;

                        .icon_item {
                            margin-bottom: 15px;
                            padding:  8px;
                            width: 30px;
                            height: 30px;
                            img {
                                display: block;
                                width: 100%;
                                height: 100%;
                                
                            }
                           
                            &:hover {
                                background:$red;
                            }
                        }
                       
                    }

                    &:hover {
                        .user_img {
                            opacity: 0.9;
                            background: #919191;
                        }
                        .reviews_item_hover {
                            opacity: 1;
                        }
                    }
                    @media screen and (max-width: 768px) {
                       h3,p {
                        text-align: start;
                       }
                    }
                    @media screen and (max-width: 980px) {
                        h3,p {
                         text-align: start;
                        }
                     }
                     @media screen and (max-width: 1024px) {
                        h3,p {
                         text-align: start;
                        }
                     }
                }
                .owl-nav {
                
                    position: relative;
                    button {
                        font-size: 45px;
                        color: $red;
                        position: absolute;
                        top: -180px;

                        &.owl-prev {
                            left: 0px;
                        }

                        &.owl-next {
                            right: 0px;
                        }
                    }
                }
            }
        }

    }

}

.latest_works_block {
    .latest_works {

        .menu {
            display: flex;
            justify-content: center;
            margin-top: 30px;
            li {
               padding: 0 10px;
               list-style-type: none;

            }
            .active {
                color:$red;
            }
            a {
                text-decoration: none;
                font-family: $roboto;
                font-size: 16px;
                font-weight: 400;
                color:$mycolor;

                
            }
        }
            .works_image_block {
                 display: grid;
                 grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
                 grid-gap: 15px;
                 margin:70px 0 100px 0;

                .image_block {
                    width: 360px;
                    height: 320px;
                    flex-basis:30%;
                    
                    

                    img {
                        display: block;
                        width: 100%;
                        height: 100%;
                        
                    }
                }
            }
        

    }
}

    .parallax-container {
        min-height: 370px;
        background-attachment: fixed;
        background-position: center;
        background-size:cover;
        background-repeat: no-repeat;
        
        
        .parallax {
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items:center;
           
            
            h3 {
                max-width: 470px;
                font-size: 30px;
                color:white;
                font-family:$roboto;
                font-weight: 400;
                margin-top:100px;
            }
            button {
                background: transparent;
                padding: 10px 30px;
                cursor: pointer;
                color: #ffff;
                border: 2px solid #ffff;
                font-family:$roboto;
                font-weight: 400;
                text-transform: uppercase;
                border-radius: 2px;
                transition: .5s;
                margin:50px 0 80px 0;

                &:hover {
                    background: white;
                    color:$red;
                    border:none;
                }
            }
        }
    }


    .blog_post_block {
        min-height: 1080px;
        
    
        .blog_post {
            // display: flex;
            // flex-flow: wrap;
          #two {
            border-bottom:none;
            padding-bottom:unset;
            margin-top: 30px;
          }

          
            
            p {
                        font-family: $roboto;
                        font-size: 13px;
                        font-weight: 400;
                        color:$mycolor;
                        text-align: center;
                        margin-top: 30px;
            }

            .blog_itmes {
                display: flex;
                justify-content: space-between;
                flex-flow: wrap;
                margin:65px 0 0 0;
                padding-bottom: 35px;
                border-bottom:2px solid rgba(233,233,233,0.7);
                
                .blog_bg {
                    width: 460px;
                    height: 325px;
                   
                    
                    img {
                        display: block;
                        width: 100%;
                        height: 100%;
                    }
                   
                }
                .blog_info {
                    flex-basis: 55%;
                               

                    .month_block {
                        display: flex;
                        justify-content:flex-start;
                        align-items:center;
                        .month {
                            width: 75px;
                            height: 75px;
                            border:2px solid;
                            color:$mycolor;
                            display: flex;
                            flex-flow: column;
                            justify-content: center;
                            align-items:center;
                            span {
                                font-family: $montserrat;
                                font-size: 13px;
                                font-weight: 700;
                                color:$mycolor;
                                letter-spacing: 1px;
                            }
                        }
                        .ideas {
                            margin-left: 30px;
                            h4 {
                                display: flex;
                                flex-flow: column;
                                font-family: $roboto;
                                font-size: 16px;
                                font-weight: 400;
                                text-transform: uppercase;
                                color:$red;
                                line-height: 0px;
                                span {
                                    font-size: 13px;
                                    font-weight: 400;
                                    font-style: italic;
                                    color:$red;
                                }
                                p {
                                    font-size: 13px;
                                    font-weight: 400;
                                    font-style: italic;
                                    color:$mycolor;
                                    text-align:justify;
                                    text-transform: lowercase;
                                    
                                    &::first-letter {
                                        text-transform: uppercase;
                                    }
                                }
                            }
                        }
                    }
                    .ideas_info {
                        p {
                            font-family: $roboto;
                            font-size: 14px;
                            font-weight: 400;
                            color:$mycolor;
                            text-align: justify;
                            line-height: 25px;
                        }
                    }
                    .read_more {
                        margin-top:30px;

                        a {
                            font-family: $roboto;
                            font-size: 13px;
                            font-weight: 700;
                            color:$mycolor;
                            text-decoration:none;
                            text-transform: uppercase;

                            &:hover {
                                color:$red;
                            }
                            
                        }
                    }
                }
            }
        }
    }


        .slider_brand {
            background: #f8f8f8;
            min-height: 475px;
            .slider_block {
               
                .brand_items {
                    display: flex;
                    justify-content:space-evenly;
                    align-items:center;
                    flex-flow: wrap;
                    margin: 100px 0 80px 0;

                    .brand {
                        img {

                        }
                    }
                }
                .swiper-container {

                    .swiper-wrapper {
                       
                        .swiper-slide {
                            margin:0 auto;

                           p {
                            max-width: 900px;
                            margin: 0 auto;
                            font-family: $roboto;
                            font-size: 18px;
                            font-weight: 400;
                            color:$mycolor;
                            text-align: center;
                            
                            } 
                        }
                        .swiper-pagination {
                            width: 30px;
                            height: 30px;
                            color:$red;
                        }
                        
                    }
                   
                }
                h4 {
                    font-family: $roboto;
                    font-size: 18px;
                    font-weight: 400;
                    color:$mycolor;
                    text-align: center;
                    margin-top: 45px;
                }
            }
        }

        .form_header {
            min-height: 660px;

            .form_items {
                .title_style {
                    margin-bottom: 70px;
                     p {
                    
                    font-family: $roboto;
                    font-size: 13px;
                    font-weight: 400;
                    color:$mycolor;
                    text-align: center;
                    margin-top: 30px;
                }
                }
               

                .forms_blcok_start {
                    display: flex;
                    justify-content: space-between;
                    flex-flow: wrap;
                    .contact_info {
                        .contact_block {
                            margin-bottom: 20px;
                            .cont_img {
                                display: flex;
                                align-items:center;
                                font-family: $roboto;
                                font-size: 14px;
                                font-weight: 700;
                                text-transform: uppercase;
                                color:$mycolor;
                                img {
                                    display: block;
                                    margin-right: 15px;
                                    margin-top: 5px;
                                }
                            }
                            p {
                                font-family: $roboto;
                                font-size: 13px;
                                font-weight: 400;
                                color:$mycolor;
                                margin-left: 25px;
                                line-height: 25px;
                            }
                        }
                    }
                    .form_blocks {
                        max-width: 700px;
                        form {
                            display: flex;
                            flex-flow: wrap;
                            input {
                                flex-basis: 48%;
                                padding: 10px;
                                margin: 10px 10px 10px 0;
                                font-family: $roboto;
                                font-size: 12px;
                                font-weight: 400;
                                text-transform: uppercase;
                                color:$mycolor;
                                
                            }
                            input::placeholder {

                            }
                            textarea {
                                margin-top:10px;
                                width: 684px;
                                height: 100px;
                            }
                            
                        }
                        .inp {
                            background: none;
                            border:1px solid $mycolor;
                            margin-top:20px;
                            padding: 10px 60px;
                            font-family: $roboto;
                            font-size: 12px;
                            font-weight: 400;
                            text-transform: uppercase;
                            color:$mycolor;

                            &:hover {
                                border:none;
                                background: $red;
                                color:white;
                            }
                            }
                            span {
                                font-family: $roboto;
                                font-size: 12px;
                                font-weight: 400;
                                color:$mycolor;
                                padding-left: 35px;
                                
                                
                            }
                    }
                }
            }
        }

    }


    footer {
        background: $red;
        min-height: 300px;
        .footer_icon {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            margin-top: 90px;
            padding: 0 5px;
            .icons {
                widows: 50px;
                height: 50px;
                padding: 0 5px;
                img {
                    display: block;
                    width: 100%;
                    
                }
            }
        }
        h3 {
            position: relative;
            display: flex;
            justify-content: center;
            &::after {
                content:'';
                position: absolute;
                bottom:-20px;
                width: 50px;
                height: 2px;
                background:white;
            }
        }
        p {
            text-align: center;
            margin-top:50px;
            font-family: $roboto;
            font-size: 12px;
            font-weight: 400;
            text-transform: uppercase;
            color:white;
        }
    }